*{
    margin: 0;
    padding: 00;
}

body{
    display: flex;
    justify-content: center;
    
}

.glav{
    text-align: center;
    /*font-family: 'Alice', serif;*/
    font-family: 'Cormorant Infant', serif;

    color: lavender;
    font-size: 50px;
    background-color: plum;
    
    
}
video{
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px);

}
section{
    position: relative;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;   /* Высота блока "footer" */
    background:#66ccff;
}

p {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    color: white;
    border: violet 1px solid;
}